.center {
    text-align: center;
}

body {
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wel {
    color: #5fbac2;
    font-family: 'Poppins', arial;
    font-size: 2.5em;
    font-weight: 1000;
    margin: auto;
    margin-top: 40px;
}

.acm {
    color: #5fbac2;
    font-family: 'Poppins', arial;
    font-size: 8.5em;
    font-weight: 1000;
    margin: auto;
    margin-top: 25px;
}

.tag {
    color: #5fbac2;
    font-family: 'Poppins', arial;
    font-size: 2em;
    font-weight: 1000;
    margin: auto;
    margin-top: 25px;
}

.scroll {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.cardFrame {
    padding-top: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spacer {
    margin-bottom: 90px;
}

.title {
    color: #5fbac2;
    font-family: 'Poppins', arial;
    font-weight: 1000;
    margin: auto;
    font-size: 3em;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .wel {
        color: #a3dee3;
        font-family: 'Poppins', arial;
        font-size: 0.8em;
        font-weight: 1000;
        margin: auto;
        margin-top: 40px;
    }

    .acm {
        color: #a3dee3;
        text-align: center;
        font-family: 'Poppins', arial;
        font-size: 4em;
        font-weight: 1000;
        margin: auto;
        margin-top: 25px;
    }

    .tag {
        color: #a3dee3;
        font-family: 'Poppins', arial;
        font-size: 0.8em;
        font-weight: 1000;
        margin: auto;
        margin-top: 25px;
    }

    .scroll {
        display: block;
    }

    .cardFrame {
        padding-top: 10px;
    }

    .row {
        display: grid;
        grid-template-rows: repeat(2, 1fr);

    }

    .spacer {
        margin-bottom: 90px;
    }

    .title {
        color: #a3dee3;
        font-family: 'Poppins', arial;
        font-weight: 1000;
        margin: auto;
        font-size: 2em;
        text-align: center;

    }

    .ft {
        height: 190px
    }


}