<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
   <meta charset="utf-8">
   <title></title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="card.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
   <div class="wrapper">
      <div class="card front-face">
         <img id="front-image" src="" alt="img">
      </div>
      <div class="card back-face">
         <img id="back-image" src="">
         <div class="info">
            <div class="title" id="card-name">
               {{name}}
            </div><br>
            <p id="card-description">
               {{description}}
            </p>
         </div>
         <ul>
            <a id="gi-lk" href={{gilk}} target="_blank"><i class="fab fa-github"></i></a>
            <a id="li-lk" href={{lilk}} target="_blank"><i class="fab fa-linkedin"></i></a>
            <a id="gl-lk" href={{gllk}} target="_blank"><i class="fa fa-globe"></i></a>
         </ul>
      </div>
   </div>

   <script>
      const urlParams = new URLSearchParams(window.location.search);
      const name = urlParams.get('name');
      const description = urlParams.get('description');
      const gllink = urlParams.get('gllk');
      const gilink = urlParams.get('gilk');
      const lilink = urlParams.get('lilk');
      const frontImage = urlParams.get('frontImage');
      const backImage = urlParams.get('backImage');

      document.getElementById('card-name').textContent = name || 'Default Name';
      document.getElementById('card-description').textContent = description || 'Default Description';
      document.getElementById('gl-lk').href = gllink;
      document.getElementById('gi-lk').href = gilink;
      document.getElementById('li-lk').href = lilink;
      document.getElementById('front-image').src = frontImage || ''; // Set front image source
      document.getElementById('back-image').src = backImage || ''; // Set back image source

      if (!gilink) {
         const twitterLink = document.getElementById('gi-lk');
         if (twitterLink) {
            twitterLink.parentNode.removeChild(twitterLink);
         }
      }

      if (!gllink) {
         const instagramLink = document.getElementById('gl-lk');
         if (instagramLink) {
            instagramLink.parentNode.removeChild(instagramLink);
         }
      }

      if (!lilink) {
         const linkedgllink = document.getElementById('li-lk');
         if (linkedgllink) {
            linkedgllink.parentNode.removeChild(linkedgllink);
         }
      }


   </script>

</body>

</html>