@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Slab', serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.event {
    background-color: #f8f9fa;
    height: 190px;
    border-radius: 5px;
    padding: 15px;
    border: 5px solid #070450;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.event h3 {
    margin-top: 0%;
}

.event p {
    margin-top: 0%;

}

.row {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rw-img{
    flex: 10%;
}

.inner{
    flex: 80%;
}

.rw-des{    
    font-weight: 100;
}