<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../tm.css">
    <title></title>
</head>
<body>
    <div class="row">
        <div>
            <iframe
                src="../../Card/card.html?name=Kashish Durgapal&description=Publicity Head&gilk=https://github.com/Kashish-2205&lilk=https://www.linkedin.com/in/kashish-durgapal-8277b1296?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app&frontImage=/src/Components/TeamsperYear/team23-24/Kashish Durgapal.jpg&backImage=/src/Components/TeamsperYear/team23-24/Kashish Durgapal.jpg"
                class="cardFrame" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        </div>
        <div>
            <iframe
                src="../../Card/card.html?name=Shudhanshu Mishra&description=Membership Head&gilk=https://github.com/Sudhanshu-m&lilk=https://www.linkedin.com/in/sudhanshu-mishra-749a2126b&frontImage=/src/Components/TeamsperYear/team23-24/Sudhanshu Mishra.jpg&backImage=/src/Components/TeamsperYear/team23-24/Sudhanshu Mishra.jpg"
                class="cardFrame" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>

    <h2 class="title">LEADS</h2>

    <div class="spacer"></div>

    <div class="row">
        <div>
            <iframe
                src="../../Card/card.html?name=Sakshi Jadhav&description=Chairperson&lilk=https://www.linkedin.com/in/sakshi-jadhav-402165219?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app&frontImage=/src/Components/TeamsperYear/team23-24/Sakshi Jadhav.png&backImage=/src/Components/TeamsperYear/team23-24/Sakshi Jadhav.png"
                class="cardFrame" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        </div>
        <div>
            <iframe
                src="../../Card/card.html?name=Sakshi Jadhav&description=Chairperson&lilk=https://www.linkedin.com/in/sakshi-jadhav-402165219?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app&frontImage=/src/Components/TeamsperYear/team23-24/Sakshi Jadhav.png&backImage=/src/Components/TeamsperYear/team23-24/Sakshi Jadhav.png"
                class="cardFrame" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        </div>
        <div>
            <iframe
                src="../../Card/card.html?name=Sakshi Jadhav&description=Chairperson&lilk=https://www.linkedin.com/in/sakshi-jadhav-402165219?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app&frontImage=/src/Components/TeamsperYear/team23-24/Sakshi Jadhav.png&backImage=/src/Components/TeamsperYear/team23-24/Sakshi Jadhav.png"
                class="cardFrame" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="row">
        <div>
            <iframe
                src="../../Card/card.html?name=Sakshi Jadhav&description=Chairperson&lilk=https://www.linkedin.com/in/sakshi-jadhav-402165219?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app&frontImage=/src/Components/TeamsperYear/team23-24/Sakshi Jadhav.png&backImage=/src/Components/TeamsperYear/team23-24/Sakshi Jadhav.png"
                class="cardFrame" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        </div>
        <div>
            <iframe
                src="../../Card/card.html?name=Sakshi Jadhav&description=Chairperson&lilk=https://www.linkedin.com/in/sakshi-jadhav-402165219?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app&frontImage=/src/Components/TeamsperYear/team23-24/Sakshi Jadhav.png&backImage=/src/Components/TeamsperYear/team23-24/Sakshi Jadhav.png"
                class="cardFrame" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        </div>
        <div>
            <iframe
                src="../../Card/card.html?name=Sakshi Jadhav&description=Chairperson&lilk=https://www.linkedin.com/in/sakshi-jadhav-402165219?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app&frontImage=/src/Components/TeamsperYear/team23-24/Sakshi Jadhav.png&backImage=/src/Components/TeamsperYear/team23-24/Sakshi Jadhav.png"
                class="cardFrame" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        </div>
        <div>
            <iframe
                src="../../Card/card.html?name=Sakshi Jadhav&description=Chairperson&lilk=https://www.linkedin.com/in/sakshi-jadhav-402165219?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app&frontImage=/src/Components/TeamsperYear/team23-24/Sakshi Jadhav.png&backImage=/src/Components/TeamsperYear/team23-24/Sakshi Jadhav.png"
                class="cardFrame" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        </div>
        <div>
            <iframe
                src="../../Card/card.html?name=Sakshi Jadhav&description=Chairperson&lilk=https://www.linkedin.com/in/sakshi-jadhav-402165219?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app&frontImage=/src/Components/TeamsperYear/team23-24/Sakshi Jadhav.png&backImage=/src/Components/TeamsperYear/team23-24/Sakshi Jadhav.png"
                class="cardFrame" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>



    <script>
        function resizeAllIframes() {
            var iframes = document.getElementsByClassName('cardFrame');
            for (var i = 0; i < iframes.length; i++) {
                var iframe = iframes[i];
                var contentHeight = iframe.contentWindow.document.body.scrollHeight;
                iframe.style.height = contentHeight + 'px';
            }
        }

        function onLoadHandler() {
            resizeAllIframes();
        }

        window.addEventListener('load', onLoadHandler); // Change 'load' event here

        var iframes = document.getElementsByClassName('cardFrame');
        for (var i = 0; i < iframes.length; i++) {
            iframes[i].addEventListener('load', onLoadHandler); // Change 'onload' event here
        }

        window.addEventListener('resize', resizeAllIframes);
    </script>
</body>
</html>