<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="tm.css">
    <link rel="stylesheet" href="../TeamsperYear/AllTeams23-24/faculty.html">
    <title>Team 2023 - 2024</title>
</head>

<body>
    <div class="row">
        <button id="faculty" class="team-button">Faculty</button>
        <button id="co-ordinators" class="team-button">Co-ordinators</button>
        <button id="technical" class="team-button">Technical Team</button>
        <button id="website" class="team-button">Website Team</button>
        <button id="designing" class="team-button">Designing Team</button>
        <button id="organizing" class="team-button">Organizing Team</button>
        <button id="marketing" class="team-button">Marketing Team</button>
    </div>

    <div class="spacer"></div>

    <iframe id="teamFrame" src="../TeamsperYear/AllTeams23-24/all.html" class="cardFrame" width="100%" height="auto"
        frameborder="0" scrolling="no"></iframe>

    <div class="spacer"></div>


    <script>
        function resizeAllIframes() {
            var iframes = document.getElementsByClassName('cardFrame');
            for (var i = 0; i < iframes.length; i++) {
                var iframe = iframes[i];
                var contentHeight = iframe.contentWindow.document.body.scrollHeight;
                iframe.style.height = contentHeight + 'px';
            }
        }

        function onLoadHandler() {
            resizeAllIframes();
        }

        window.addEventListener('load', onLoadHandler); // Change 'load' event here

        var iframes = document.getElementsByClassName('cardFrame');
        for (var i = 0; i < iframes.length; i++) {
            iframes[i].addEventListener('load', onLoadHandler); // Change 'onload' event here
        }

        window.addEventListener('resize', resizeAllIframes);
    </script>

    


    <script>
        const faculty = document.getElementById("faculty");
        const coordinators = document.getElementById("co-ordinators");
        const technical = document.getElementById("technical");
        const website = document.getElementById("website");
        const designing = document.getElementById("designing");
        const organizing = document.getElementById("organizing");
        const marketing = document.getElementById("marketing");

        const teamFrame = document.getElementById("teamFrame");

        coordinators.addEventListener("click", () => {
            teamFrame.src = "../TeamsperYear/AllTeams23-24/co-ordinators.html";
        });
        faculty.addEventListener("click", () => {
            teamFrame.src = "../TeamsperYear/AllTeams23-24/faculty.html";
        });
        technical.addEventListener("click", () => {
            teamFrame.src = "../TeamsperYear/AllTeams23-24/technical.html";
        });
        website.addEventListener("click", () => {
            teamFrame.src = "../TeamsperYear/AllTeams23-24/website.html";
        });
        designing.addEventListener("click", () => {
            teamFrame.src = "../TeamsperYear/AllTeams23-24/designing.html";
        });
        organizing.addEventListener("click", () => {
            teamFrame.src = "../TeamsperYear/AllTeams23-24/organizing.html";
        });
        marketing.addEventListener("click", () => {
            teamFrame.src = "../TeamsperYear/AllTeams23-24/marketing.html";
        });
    </script>
</body>

</html>