<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="tm.css">
    <title>Team 2023 - 2024</title>
</head>

<body>
    <div class="row">
        <div>
            <iframe
                src="../Card/card.html?name=Sakshi Jadhav&description=Chairperson&lilk=https://www.linkedin.com/in/sakshi-jadhav-402165219?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app&frontImage=/src/Components/TeamsperYear/team23-24/Sakshi Jadhav.png&backImage=/src/Components/TeamsperYear/team23-24/Sakshi Jadhav.png"
                class="cardFrame" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        </div>
        <div>
            <iframe
                src="../Card/card.html?name=Gaurav Desale&description=Vice Chairperson&gilk=https://www.github.com/&gllk=https://www.instagram.com/&lilk=https://www.linkedin.com/&frontImage=/src/Components/TeamsperYear/team23-24/Gaurav Desale.jpg&backImage=/src/Components/TeamsperYear/team23-24/Gaurav Desale.jpg"
                class="cardFrame" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="row">
        <div>
            <iframe
                src="../Card/card.html?name=Fahim Khan&description=Secretary&gilk=https://www.github.com/&gllk=https://www.instagram.com/&lilk=https://www.linkedin.com/&frontImage=/src/Components/TeamsperYear/team23-24/Fahim Khan.jpg&backImage=/src/Components/TeamsperYear/team23-24/Fahim Khan.jpg"
                class="cardFrame" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        </div>
        <div>
            <iframe
                src="../Card/card.html?name=Shubham Sontakke&description=Treasurer&gilk=https://www.github.com/&gllk=https://www.instagram.com/&lilk=https://www.linkedin.com/&frontImage=/src/Components/TeamsperYear/team23-24/Shubham Sontakke.png&backImage=/src/Components/TeamsperYear/team23-24/Shubham Sontakke.png"
                class="cardFrame" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        </div>
        <div>
            <iframe
                src="../Card/card.html?name=Aviral Dev&description=Vice Treasurer&gilk=https://www.github.com/&gllk=https://www.instagram.com/&lilk=https://www.linkedin.com/&frontImage=/src/Components/TeamsperYear/team23-24/Shivam Bhosle.jpg&backImage=/src/Components/TeamsperYear/team23-24/Shivam Bhosle.jpg"
                class="cardFrame" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="row">
        <div>
            <iframe
                src="../Card/card.html?name=Varshita Nalluri&description=ACM-Women Chairperson&gilk=https://www.github.com/&gllk=https://www.instagram.com/&lilk=https://www.linkedin.com/&frontImage=/src/Components/TeamsperYear/team23-24/Varshita Nalluri.jpg&backImage=/src/Components/TeamsperYear/team23-24/Varshita Nalluri.jpg"
                class="cardFrame" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        </div>
        <div>
            <iframe
                src="../Card/card.html?name=Nishtha Yadav&description=ACM-Women Vice Chairperson&gilk=https://www.github.com/&gllk=https://www.instagram.com/&lilk=https://www.linkedin.com/&frontImage=/src/Components/TeamsperYear/team23-24/Nishtha Yadav.jpg&backImage=/src/Components/TeamsperYear/team23-24/Nishtha Yadav.jpg"
                class="cardFrame" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="row">
        <div>
            <iframe
                src="../Card/card.html?name=Kamran Khan&description=Technical Head&gilk=https://github.com/kamran1819g&gllk=https://kamran1819g.vercel.app&lilk=https://linkedin.com/in/kamran1819g&frontImage=/src/Components/TeamsperYear/team23-24/Kamran Khan.png&backImage=/src/Components/TeamsperYear/team23-24/Kamran Khan.png"
                class="cardFrame" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        </div>
        <div>
            <iframe
                src="../Card/card.html?name=Shivam Bhosle&description=Web Master&gilk=https://github.com/007-Shivam&gllk=https://sites.google.com/view/shivambhosle/home?pli=1&lilk=https://www.linkedin.com/in/shivambhosle007/&frontImage=/src/Components/TeamsperYear/team23-24/Shivam Bhosle.jpg&backImage=/src/Components/TeamsperYear/team23-24/Shivam Bhosle.jpg"
                class="cardFrame" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        </div>
        <div>
            <iframe
                src="../Card/card.html?name=Shubham Kumavat&description=Website Co-ordinator&gilk=https://github.com/Shubham-711&lilk=https://www.linkedin.com/in/shubham-kumavat-39b251296/&frontImage=/src/Components/TeamsperYear/team23-24/Shubham Kumavat.jpg&backImage=/src/Components/TeamsperYear/team23-24/Shubham Kumavat.jpg"
                class="cardFrame" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="row">
        <div>
            <iframe
                src="../Card/card.html?name=Saloni Wani&description=Creativity Head&gilk=https://www.github.com/&gllk=https://www.instagram.com/&lilk=https://www.linkedin.com/&frontImage=/src/Components/TeamsperYear/team23-24/Shivam Bhosle.jpg&backImage=/src/Components/TeamsperYear/team23-24/Shivam Bhosle.jpg"
                class="cardFrame" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        </div>
        <div>
            <iframe
                src="../Card/card.html?name=Khushi Raj&description=Organizational Head&gilk=https://github.com/khushiiraj&lilk=https://www.linkedin.com/in/khushi-raj-091264241?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app&frontImage=/src/Components/TeamsperYear/team23-24/Khushi Raj.png&backImage=/src/Components/TeamsperYear/team23-24/Khushi Raj.png"
                class="cardFrame" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="row">
        <div>
            <iframe
                src="../Card/card.html?name=Disha Jain&description=Overall Event Co-ordinator&gilk=https://www.github.com/&gllk=https://www.instagram.com/&lilk=https://www.linkedin.com/&frontImage=/src/Components/TeamsperYear/team23-24/Disha Jain.jpg&backImage=/src/Components/TeamsperYear/team23-24/Disha Jain.jpg"
                class="cardFrame" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        </div>
        <div>
            <iframe
                src="../Card/card.html?name=Yashovardhan Kathika&description=Photographer&lilk=https://www.linkedin.com/in/yasho-kathika-a4ab54220?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app&frontImage=/src/Components/TeamsperYear/team23-24/Kathika Yashovardhan.jpg&backImage=/src/Components/TeamsperYear/team23-24/Kathika Yashovardhan.jpg"
                class="cardFrame" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        </div>
        <div>
            <iframe
                src="../Card/card.html?name=Souti Samanta&description=Graphics Master&gilk=https://github.com/Souti717&lilk=https://www.linkedin.com/in/souti-samanta-696807291/&frontImage=/src/Components/TeamsperYear/team23-24/Souti Samanta.png&backImage=/src/Components/TeamsperYear/team23-24/Souti Samanta.png"
                class="cardFrame" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="row">
        <div>
            <iframe
                src="../Card/card.html?name=Kashish Durgapal&description=Publicity Head&gilk=https://github.com/Kashish-2205&lilk=https://www.linkedin.com/in/kashish-durgapal-8277b1296?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app&frontImage=/src/Components/TeamsperYear/team23-24/Kashish Durgapal.jpg&backImage=/src/Components/TeamsperYear/team23-24/Kashish Durgapal.jpg"
                class="cardFrame" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        </div>
        <div>
            <iframe
                src="../Card/card.html?name=Shudhanshu Mishra&description=Membership Head&gilk=https://github.com/Sudhanshu-m&lilk=https://www.linkedin.com/in/sudhanshu-mishra-749a2126b&frontImage=/src/Components/TeamsperYear/team23-24/Sudhanshu Mishra.jpg&backImage=/src/Components/TeamsperYear/team23-24/Sudhanshu Mishra.jpg"
                class="cardFrame" width="100%" height="auto" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>

    <script>
        function resizeAllIframes() {
            var iframes = document.getElementsByClassName('cardFrame');
            for (var i = 0; i < iframes.length; i++) {
                var iframe = iframes[i];
                var contentHeight = iframe.contentWindow.document.body.scrollHeight;
                iframe.style.height = contentHeight + 'px';
            }
        }

        function onLoadHandler() {
            resizeAllIframes();
        }

        window.addEventListener('load', onLoadHandler); // Change 'load' event here

        var iframes = document.getElementsByClassName('cardFrame');
        for (var i = 0; i < iframes.length; i++) {
            iframes[i].addEventListener('load', onLoadHandler); // Change 'onload' event here
        }

        window.addEventListener('resize', resizeAllIframes);
    </script>
</body>

</html>