<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <footer>
        <div class="row">
            <div class="left">
                <img class="pic" src="../Footer/Assets/lg.png" width="90px" alt="acm_logo">
                <p class="pic_para">Association of Computer Machinery<br>
                    BVP DET NM</p>
            </div>
            <div class="right">
                <img class="pic" src="../Footer/Assets/bvp_logo.png" width="80px" alt="bvp_logo">
                <p class="pic_para">Bharati Vidyapeeth Deemed University<br>
                    Department of Engineering & Technology,<br>
                    Navi Mumbai</p>
            </div>
        </div>

        <div class="footer-content">
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>ACM SC BVDUDET-NM copyright &copy; 2023</p>
        </div>
    </footer>
</body>

</html>